header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(201, 228, 236);
}
.container-fluid {
    background-color: #293243;
    padding: 0px;
}
.navbar-brand {
    width: 100px;
    height: auto;
}
.search-area {
    padding-top: 50px;
    background-color: #293243;
    box-sizing: border-box;
}